# Python for financen with sqllite
## trying to build a database for storing and querying data

This notebook is based on this YT tutorial: https://www.youtube.com/watch?v=twk29AJk3HA

The steps in this notebook are the following: 
- receiving data with python binance or bybit socket 
- data transformation with pandas
- writing data

# import data

In [1]:
import pandas as pd

import os
iskaggle = os.environ.get('KAGGLE_KERNEL_RUN_TYPE', '')

if iskaggle:
    df = pd.read_csv("nnbasic-btc-data.csv", index_col=0).reset_index(drop=True)
else:
    df = pd.read_csv("nnbasic-btc-data.csv", index_col=0).reset_index(drop=True)


print(df.shape)
df.head(3)

(11713, 68)

,time_s3,open_s3,high_s3,low_s3,close_s3,vol_s3,log_open_s3,log_high_s3,log_low_s3,log_close_s3,...,log_high,log_low,log_close,log_vol,norm_open,norm_high,norm_low,norm_close,norm_vol,norm_log_vol
0,2023.06.01 00:00,27103.1,27108.1,27080.6,27096.9,386.675,10.207403,10.207588,10.206573,10.207175,...,10.206698,10.205620,10.206698,5.385151,0.378108,0.313275,0.383429,0.382019,0.003001,0.276083
1,2023.06.01 00:15,27096.9,27096.9,27036.7,27047.0,408.680,10.207175,10.207175,10.204950,10.205331,...,10.207802,10.206311,10.207289,5.797309,0.382019,0.317588,0.385941,0.384170,0.004729,0.328539
2,2023.06.01 00:30,27047.0,27077.4,27041.0,27054.9,275.080,10.205331,10.206455,10.205110,10.205623,...,10.209464,10.207289,10.208852,6.887200,0.384170,0.324095,0.389502,0.389869,0.014827,0.467251

In [2]:
# do not use the time columns 

df_train = df.filter(items = ['open_s3', 'high_s3', 'low_s3', 'close_s3', 'vol_s3',
       'open_s2', 'high_s2', 'low_s2', 'close_s2', 'vol_s2',
       'open_s1', 'high_s1', 'low_s1', 'close_s1', 'vol_s1', 
       'open', 'high', 'low', 'close', 'vol']).dropna()
print(df_train.shape)
df_train.head(3)

(11713, 20)

,open_s3,high_s3,low_s3,close_s3,vol_s3,open_s2,high_s2,low_s2,close_s2,vol_s2,open_s1,high_s1,low_s1,close_s1,vol_s1,open,high,low,close,vol
0,27103.1,27108.1,27080.6,27096.9,386.675,27096.9,27096.9,27036.7,27047.0,408.680,27047.0,27077.4,27041.0,27054.9,275.080,27054.9,27084.0,27054.8,27084.0,218.143
1,27096.9,27096.9,27036.7,27047.0,408.680,27047.0,27077.4,27041.0,27054.9,275.080,27054.9,27084.0,27054.8,27084.0,218.143,27084.0,27113.9,27073.5,27100.0,329.412
2,27047.0,27077.4,27041.0,27054.9,275.080,27054.9,27084.0,27054.8,27084.0,218.143,27084.0,27113.9,27073.5,27100.0,329.412,27100.0,27159.0,27100.0,27142.4,979.655

# Creating a database

In [3]:
from sqlalchemy import create_engine
#engine = create_engine("sqlite+pysqlite:///:memory:", echo=True)

engine = create_engine('sqlite:///BTCUSDTstream.db')

In [4]:
# write function to transform data from bybit call

In [5]:
# define current_event as an unique ticker value
current_event = pd.Series(pd.to_datetime(0))

# transform data from socket call

# if pd.Series(df.time_s3.values[0]) > current_event:
# current_event = df.time_s3
df.to_sql('BTCUSDT',engine, if_exists = 'append', index=False)

11713

In [6]:
pd.read_sql('BTCUSDT',engine)

,time_s3,open_s3,high_s3,low_s3,close_s3,vol_s3,log_open_s3,log_high_s3,log_low_s3,log_close_s3,...,log_high,log_low,log_close,log_vol,norm_open,norm_high,norm_low,norm_close,norm_vol,norm_log_vol
0,2023.06.01 00:00,27103.1,27108.1,27080.6,27096.9,386.675,10.207403,10.207588,10.206573,10.207175,...,10.206698,10.205620,10.206698,5.385151,0.378108,0.313275,0.383429,0.382019,0.003001,0.276083
1,2023.06.01 00:15,27096.9,27096.9,27036.7,27047.0,408.680,10.207175,10.207175,10.204950,10.205331,...,10.207802,10.206311,10.207289,5.797309,0.382019,0.317588,0.385941,0.384170,0.004729,0.328539
2,2023.06.01 00:30,27047.0,27077.4,27041.0,27054.9,275.080,10.205331,10.206455,10.205110,10.205623,...,10.209464,10.207289,10.208852,6.887200,0.384170,0.324095,0.389502,0.389869,0.014827,0.467251
3,2023.06.01 00:45,27054.9,27084.0,27054.8,27084.0,218.143,10.205623,10.206698,10.205620,10.206698,...,10.209438,10.208027,10.208661,6.239905,0.389869,0.323994,0.392189,0.389170,0.007577,0.384869
4,2023.06.01 01:00,27084.0,27113.9,27073.5,27100.0,329.412,10.206698,10.207802,10.206311,10.207289,...,10.210237,10.208539,10.209876,6.058866,0.389170,0.327125,0.394056,0.393605,0.006258,0.361828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23421,2023.09.30 22:15,26983.0,26990.3,26981.3,26984.5,116.360,10.202962,10.203233,10.202899,10.203018,...,10.204999,10.204018,10.204584,5.777299,0.372275,0.306638,0.377611,0.374331,0.004627,0.325992
23422,2023.09.30 22:30,26984.5,27026.0,26984.5,27025.1,266.921,10.203018,10.204555,10.203018,10.204521,...,10.205232,10.204133,10.204214,5.391585,0.374331,0.307547,0.378028,0.372987,0.003023,0.276902
23423,2023.09.30 22:45,27025.1,27025.2,27009.7,27011.5,204.762,10.204521,10.204525,10.203951,10.204018,...,10.205745,10.204214,10.205712,5.289166,0.372987,0.309552,0.378324,0.378431,0.002691,0.263867
23424,2023.09.30 23:00,27011.5,27038.0,27011.5,27026.8,322.886,10.204018,10.204999,10.204018,10.204584,...,10.205856,10.205324,10.205605,5.204155,0.378431,0.309985,0.382354,0.378041,0.002440,0.253047
23425,2023.09.30 23:15,27026.8,27044.3,27014.6,27016.8,219.551,10.204584,10.205232,10.204133,10.204214,...,10.206059,10.205601,10.206056,5.424276,0.378041,0.310779,0.383362,0.379681,0.003136,0.281062